@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,700;1,100&display=swap");
:root {
  --yellow: #ffd602;
  --red: #d5040a;
  --blue: #036cb6;
}
body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: "Lato", sans-serif;
}
.loader {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fefefe;
  position: absolute;
  z-index: 3;

  animation: loader 2s linear forwards;
}
.loader div {
  background-color: var(--yellow);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 10px;
  transform: scale(0);
  animation: scaling 2s ease-in-out infinite;
}
.loader div:nth-child(1) {
  animation-delay: 0.1s;
}
.loader div:nth-child(2) {
  animation-delay: 0.25s;
}
.loader div:nth-child(3) {
  animation-delay: 0.4s;
}
.page {
  position: relative;
  height: 100vh;
  width: 100%;
}
.container {
  z-index: 1;
  position: absolute;
  display: grid;
  grid-template-columns: 55% 45%;
  grid-template-rows: 20% 50% 30%;
  grid-template-areas:
    "nav     aside"
    "section aside"
    "footer  aside";
  height: 100%;
  width: 100%;
}
.navbar {
  background-color: #fefefe;
  grid-area: nav;
}
.navbar__content {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 60px 0 0 80px;
  animation: 2s navbar 0.5s ease-in-out;
}
.navbar__content img {
  width: 50px;
  height: 50px;
}
.navbar__content ul {
  display: flex;
  list-style: none;
  padding: 0;
}
.navbar__content ul li {
  margin: 10px;
}
.navbar__content ul li a {
  text-decoration: none;
  color: var(--red);
  font-weight: 300;
}

.main-content {
  display: flex;
  grid-area: section;
  flex-direction: column;
  justify-content: center;
  padding-left: 80px;
  animation: 2s main-content 0.5s ease-in-out;
}
.main-content p:nth-child(1) {
  font-size: 36px;
  font-weight: 300;
  margin: 0 0 -8px 36px;
}
.main-content h1 {
  font-weight: 700;
  font-size: 48px;
  margin: 0;
}
.main-content p:last-child {
  font-weight: 100;
  width: 40%;
  margin: 48px 0 0 0;
}
.side-content {
  grid-area: aside;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
}
.side-content p {
  font-size: 36px;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  transform: rotate(-90deg);
  animation: 6s super-text 0.5s ease-in-out;
  animation-fill-mode: forwards;
  z-index: 2;
}
.side-content img {
  grid-column: 2 / 6;
  grid-row: 1 / 2;
  width: 100%;
  position: relative;
  z-index: 2;
  animation: 2.7s superman 0.5s ease-in-out;
  animation-fill-mode: forwards;
}
.side-content div {
  z-index: 1;
  background-color: var(--yellow);
  position: absolute;
  grid-column: 4 / 7;
  width: 100%;
  height: 100%;
}
.footer-content {
  grid-area: footer;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  background-color: var(--yellow);
  border-top-right-radius: 100px;
  animation: 4s footer 0.5s ease-in-out;
  animation-fill-mode: forwards;
}
.footer-content div {
  width: 190px;
  height: 60%;
  background-color: var(--blue);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.footer-content div img {
  width: 200px;
  position: absolute;
  bottom: 30px;
  transform: scale(1) translateY(0px);
  transition: transform 0.5s ease-in-out;
}
.footer-content div:hover img {
  cursor: pointer;
  transform: scale(1.1) translateY(-20px);
  transition: transform 0.3s ease-in-out;
}
.visible {
  display: grid;
}
.hidden {
  display: none !important;
}
.modal {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal__content {
  background-color: #fefefe;
  width: 40%;
  height: 50%;
  display: grid;
  place-items: center;
}
.slider {
  width: 300px;
  height: 200px;
  transform-style: preserve-3d;
}
.cards {
  position: relative;
  width: 100%;
  height: 100%;
}
.card {
  background-color: var(--yellow);
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: transform 0.5s ease;
  cursor: pointer;
  display: grid;
  place-items: center;
  width: 50%;
  height: 100%;
}
.close {
  cursor: pointer;
  justify-self: flex-end;
  align-self: flex-start;
}
.button {
  margin: auto;
  padding: 20px;
  background-color: var(--red);
  border-style: none;
  border-radius: 5px;
  cursor: pointer;
}
.button:hover {
  border: 1px solid black;
}
#radio-1:checked ~ .cards #card-1,
#radio-2:checked ~ .cards #card-2,
#radio-3:checked ~ .cards #card-3 {
  transform: translateX(0) scale(1);
  opacity: 1;
  z-index: 1;
}
#radio-1:checked ~ .cards #card-2,
#radio-2:checked ~ .cards #card-3,
#radio-3:checked ~ .cards #card-1 {
  transform: translateX(40%) scale(0.8);
  opacity: 0.5;
  z-index: 0;
}
#radio-1:checked ~ .cards #card-3,
#radio-2:checked ~ .cards #card-1,
#radio-3:checked ~ .cards #card-2 {
  transform: translateX(-40%) scale(0.8);
  opacity: 0.5;
  z-index: 0;
}
#radio-1,
#radio-2,
#radio-3 {
  display: none;
}

.spidey {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
/* // ANIMACIONES ----> */
@keyframes scaling {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.4);
  }
}
@keyframes navbar {
  0% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes loader {
  0% {
    opacity: 1;
    visibility: visible;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes main-content {
  0% {
    transform: translateY(-500px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes super-text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes superman {
  0% {
    transform: translateX(600px) scale(0.9);
  }
  80% {
    transform: translateX(-10px) scale(0.9);
  }
  100% {
    transform: translateX(0px) scale(0.9);
  }
}
@keyframes footer {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0px);
  }
}

@media (max-width: 800px) {
  .page {
    position: static;
  }
  .container {
    z-index: 1;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
  }
  .navbar__content {
    padding: 8px;
  }
  .navbar__content ul li {
    margin: 3px;
  }
  .navbar__content ul li a {
    font-weight: 100;
  }
  .main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 0px;
    animation: 2s main-content 0.5s ease-in-out;
  }
  .main-content p:nth-child(1) {
    margin: 0 0 -8px 0px;
  }
  .main-content p:last-child {
    width: 60%;
    margin: 22px 0 0 0;
  }
  .side-content {
    display: flex;
    align-items: center;
  }
  .side-content div {
    width: 40%;
    height: 40%;
  }
  .footer-content {
    align-items: center;
    border-top-right-radius: 0px;
    width: 100%;
  }
  .footer-content div {
    width: 100px;
    height: 70%;
    border-radius: 30px;
  }
  .footer-content div img {
    width: 130px;
    position: relative;
    bottom: 30px;
  }
}
